body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 2rem 0;
}

.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.registration-form label {
    display: block;
    margin-top: 10px;
    padding-right: 2rem;
}

.registration-form input[type="file"],
.registration-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .registration-form {
        width: 100%;
        padding: 10px;
    }
}